@import '../../init';

.icon-box {
  &--vertical {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &--horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      flex: 0 0 auto;
      font-size: 1.5rem;
      margin-right: 1em;
    }

    p {
      text-align: left;
    }
  }
}
