<div class="navbar-container navbar-container--transparent js-navbar-container" >
  <div class="navbar js-navbar">
    <div class="navbar__brand">
      <div>Matthieu Perraut</div>
    </div>
    <div class="navbar__menu">
      <div class="navbar__link active">Accueil</div>
      <div class="navbar__link">La Mini Transat</div>
      <div class="navbar__link">Le programme</div>
      <div class="navbar__link">Le bateau</div>
      <div class="navbar__link">Médiathèque</div>
      <div class="navbar__link">Les partenaires</div>
    </div>
  </div>
</div>
