<div class="navbar-container navbar-container--transparent js-navbar-container" >
  <div class="navbar js-navbar">
    <div class="navbar__brand">
      <div>Matthieu Perraut</div>
    </div>
    <div class="navbar__menu">
      <%= link_to "Accueil", root_path, class: 'navbar__link js-navbar__link active', 'data-target': 'accueil' %>
      <%= link_to "La Mini Transat", root_path(anchor: 'mini-transat'), class: 'navbar__link js-navbar__link', 'data-target': 'mini-transat' %>
      <div class="navbar__link">Le programme</div>
      <div class="navbar__link">Le bateau</div>
      <div class="navbar__link">Médiathèque</div>
      <div class="navbar__link">Les partenaires</div>
    </div>
  </div>
</div>
