@import '../../init';

.navbar-container {
  margin: 0;
  height: var(--navbarHeight);
  padding: 0 3rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: background 0.3s ease-in-out;
  background: var(--main);

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;

    &__brand {
      font-size: 1.5rem;
      color: var(--white);
    }

    &__menu {
      width: 60%;
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      color: var(--white);
    }

    &__link {
      font-size: 0.8rem;
      text-transform: uppercase;
      transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
      color: var(--white);
      opacity: 1;
    }
  }

  &--transparent {
    background: transparent;

    .navbar {
      &__brand {
        color: var(--white);
      }

      &__link {
        color: var(--white);
        opacity: 1;

        &.active {
          color: var(--secondary);
          opacity: 1;
        }
      }
    }
  }

  &--blue {
    background: var(--main);

    .navbar {
      &__brand {
        color: var(--white);
      }

      &__link {
        color: var(--white);
        opacity: 1;

        &.active {
          color: var(--secondary);
          opacity: 1;
        }
      }
    }
  }

  &-mediatheque {
    .navbar__link.active {
      color: var(--secondary);
      opacity: 1;
    }
  }

  .navbar__link:hover {
    cursor: pointer;
    color: var(--secondary);
    opacity: 0.8;
  }
}

@media (--screen-md) {
  .navbar-container {
    height: calc(var(--navbarHeight) * 2);
    padding: 0 4rem;

    .navbar {
      &__menu {
        width: 30%;
        display: initial;
        text-align: right;
        font-size: 1.5rem;
      }
    }
  }

  .mobile-sidebar {
    position: fixed;
    background-color: var(--main);
    width: 100vw;
    right: -100vw;
    top: 0;
    bottom: 0;
    z-index: 200;
    transition: right ease 0.5s;
    box-shadow: -1px 10px 4px 0 var(--box-shadow);
    padding: 5em;

    &.visible {
      right: 0;
    }

    &__close {
      cursor: pointer;
      font-size: 2rem;
      color: var(--white);
    }

    &__menu {
      margin: 4em 0;
      display: flex;
      flex-direction: column;

      a {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.2rem;
        line-height: 2em;
        text-transform: uppercase;
        transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
        color: var(--white);
        opacity: 1;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

@media (--screen-sm) {
  .navbar-container {
    height: var(--navbarHeight);
    padding: 0 2rem;

    .navbar {
      &__brand {
        font-size: 1rem;
      }

      &__menu {
        font-size: 1rem;
      }
    }
  }

  .mobile-sidebar {
    position: fixed;
    background-color: var(--main);
    width: 100vw;
    right: -100vw;
    top: 0;
    bottom: 0;
    z-index: 200;
    transition: right ease 0.5s;
    box-shadow: -1px 10px 4px 0 var(--box-shadow);
    padding: 2em;

    &.visible {
      right: 0;
    }

    &__close {
      cursor: pointer;
      font-size: 2rem;
      color: var(--white);
    }

    &__menu {
      margin: 4em 0;
      display: flex;
      flex-direction: column;

      a {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 0.8rem;
        text-transform: uppercase;
        transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
        color: var(--white);
        opacity: 1;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
