@import '../../init';

.footer {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--main);
  color: var(--white);
  padding: 5rem 0;

  h4 {
    display: block;
    padding: 0;
  }

  p {
    font-size: 0.8rem;
    line-height: 1em;
  }

  .socials {
    text-align: center;

    i {
      font-size: 1.5rem;
      margin-right: 1em;
      color: var(--white);
      line-height: 2em;
      opacity: 1;

      &:hover {
        color: var(--secondary);
        opacity: 0.6;
      }
    }
  }

  .copyright {
    text-align: center;
  }

  .flex-box > div {
    flex: 0 0 35%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (--screen-sm) {
  .footer {
    padding: 3rem 0;

    h4 {
      font-size: 0.8rem;
    }

    p {
      font-size: 0.6rem;
    }

    .socials {
      text-align: initial;

      i {
        font-size: 1rem;
      }
    }

    .copyright {
      padding: 0 2rem;
    }
  }
}
