@import '../../init';

.feature-box {
  min-height: 70vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.with-background {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.no-padding {
    padding: 0 1rem;
  }

  &.flex-end {
    justify-content: flex-end;
  }

  &.with-shadow {
    box-shadow: 1px 1px 4px var(--main);
  }
}

@media (--screen-sm) {
  .feature-box {
    &.no-padding {
      padding: 0;
    }
  }
}
