@import '../../init';

section {
  padding: 5rem 0;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;

  &.full-height {
    height: 100vh;
    background-position: center center;
  }

  &.small-padding {
    padding: 2rem 0;
  }

  &.no-padding {
    padding: 0;
  }

  &.band {
    height: 60vh;
  }
}

@media (--screen-md) {
  section {
    &.full-height {
      height: auto;
    }
  }
}

@media (--screen-sm) {
  section {
    padding: 2rem 0;
  }
}
