@import '../../init';

.subtitle {
  display: block;

  h3 {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 0;
  }

  &.secondary {
    h3 {
      color: var(--secondary);
    }
  }
}
