@import '../../init';

.container {
  width: 85vw;
  max-width: 130rem;
  margin: 0 auto;

  &.small-and-centered {
    width: 60vw;
    text-align: center;
  }

  &.very-small {
    width: 45vw;
  }

  &.very-small-and-centered {
    width: 45vw;
    text-align: center;
  }
}
