@import '../../init';

.container {
  width: 85vw;
  max-width: 130rem;
  margin: 0 auto;

  &.small-and-centered {
    width: 60vw;
    text-align: center;
  }

  &.very-small {
    width: 45vw;
  }

  &.very-small-and-centered {
    width: 45vw;
    text-align: center;
  }
}

@media (--screen-md) {
  .container {
    &.very-small {
      width: 60vw;
    }

    &.very-small-and-centered {
      width: 60vw;
    }
  }
}

@media (--screen-sm) {
  .container {
    &.very-small {
      width: 90vw;
    }

    &.small-and-centered {
      width: 80vw;
      text-align: center;
    }

    &.very-small-and-centered {
      width: 80vw;
      text-align: center;
    }
  }
}
