<section class="hero js-hero" style='<%= "background-image: url('#{asset_pack_path("media/shared/static/#{background_image}")}')" %>'>
  <div class="hero__content">
    <%= yield %>
  </div>
  <% if legend %>
    <p class="hero__legend"><%= legend %></p>
  <% end %>
</section>
