.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: -2px;
  height: 1em;
  width: 1em;
  transition: all 0.3s ease;
}

.icon-earth {
  background: svg-load("solid/globe-americas.svg", fill=var(--secondary));
}

.icon-anchor {
  background: svg-load("solid/anchor.svg", fill=var(--secondary));
}

.icon-medal {
  background: svg-load("solid/medal.svg", fill=var(--secondary));
}
