@import "normalize.css/normalize.css";
@import "fonts.css";
@import "colors.css";
@import "icons.css";
@import "utilities.css";

/* Media queries */
@custom-media --screen-xs (max-width: 440px);
@custom-media --screen-sm (max-width: 768px);
@custom-media --screen-md (max-width: 1200px);
@custom-media --screen-lg (max-width: 1400px);
@custom-media --screen-xl (max-width: 1600px);
@custom-media --screen-xxl (max-width: 4000px);

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@media (--screen-xxl) {
  body {
    font-family: 'EB Garamond', serif;
    font-size: 28px;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--main);
    position: relative;
    background-color: var(--white);
  }
}

@media (--screen-xl) {
  body {
    font-size: 16px;
    line-height: 1.5em;
  }
}

@media (--screen-md) {
  body {
    font-size: 22px;
    line-height: 1.5em;
    letter-spacing: 1px;
  }
}

@media (--screen-sm) {
  body {
    font-size: 13px;
    line-height: 1.4em;
    letter-spacing: 1px;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 3.5rem;
  letter-spacing: 0.05em;
  font-weight: 300;
}

@media (--screen-sm) {
  h1 {
    font-size: 3rem;
    line-height: 1em;
  }
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 0;
  line-height: 0.6em;
  padding: 0.2em 0.4em 0;
  margin: 0 0 1em 0;
}

@media (--screen-sm) {
  h4 {
    font-size: 1rem;
    line-height: 0.8em;
  }
}
