:root {
  --navbarHeight: 52px;
}

/* POLICES */
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.white {
  color: var(--white);
}

.info {
  color: var(--yellow);
}

.focus {
  color: var(--secondary);
}

.brand {
  color: var(--main);
}

h4.underlined--red {
  padding: 0.4em 0.4em 0.2em;
  display: inline-flex;
  background-color: var(--secondary);
}

h4.underlined--yellow {
  padding: 0.4em 0.4em 0.2em;
  display: inline-flex;
  background-color: var(--yellow);
  color: var(--main);
}

h4.underlined--blue {
  padding: 0.4em 0.4em 0.2em;
  display: inline-flex;
  background-color: var(--main);
  color: var(--white);
}

h4.underlined--blue-and-yellow {
  padding: 0.4em 0.4em 0.2em;
  display: inline-flex;
  background-color: var(--main);
  color: var(--yellow);
}

h4.underlined--white {
  padding: 0.4em 0.4em 0.2em;
  display: inline-flex;
  background-color: var(--white);
  color: var(--main);
}

span.underlined--blue {
  display: inline-flex;
  background-color: var(--main);
  color: var(--white);
}

.italic {
  font-style: italic;
}

.bg-main {
  background-color: var(--main);
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
  color: var(--font-color);
}

.large-text {
  font-size: 2rem;
}

p.no-margin {
  margin: 0;
}

/* DEVICES UTILITIES */
.hidden-on-mobile {
  @media (--screen-sm) {
    display: none !important;
  }
}

.hidden-on-tablet-and-mobile {
  @media (--screen-md) {
    display: none !important;
  }
}

.hidden-on-tablet-and-desktop {
  @media (--screen-md) {
    display: none !important;
  }

  @media (--screen-sm) {
    display: initial !important;
  }
}

.hidden-on-desktop-only {
  @media (--screen-xl) {
    display: none !important;
  }

  @media (--screen-md) {
    display: initial !important;
  }
}

.padding-on-mobile {
  @media (--screen-sm) {
    padding: 0 2rem;
  }
}
