:root {
  --navbarHeight: 52px;
}

/* POLICES */
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.white {
  color: var(--white);
}

.info {
  color: var(--green);
}

.focus {
  color: var(--secondary);
}

.brand {
  color: var(--main);
}

.underlined--red {
  display: inline-flex;
  background-color: var(--secondary);
}

.underlined--yellow {
  display: inline-flex;
  background-color: var(--yellow);
}

.italic {
  font-style: italic;
}

.bg-main {
  background-color: var(--main);
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
  color: var(--font-color);
}

.large-text {
  font-size: 2rem;
}

p.no-margin {
  margin: 0;
}
