<%= c 'page', page: 'home' do %>
  <%= c 'hero',
    background_image: 'matthieu-perraut-mini-transat.jpg',
    title: 'Objectif : Route du Rhum 2022 !' do %>
  <% end %>

  <%= c 'section' do %>
    <h2>De la Mini Transat 2019 à la Route du Rhum 2022 !</h2>
  <% end %>
<% end %>
