@import '../../init';

.media {
  text-align: center;

  &.height-related {
    img {
      height: 500px;
    }
  }

  &.width-related {
    img {
      width: 100%;
    }
  }
}

@media (--screen-sm) {
  .media {
    &.height-related.half-on-mobile {
      img {
        height: 190px;
        max-width: 100%;
      }
    }

    &.width-related.smaller-on-mobile {
      img {
        width: 80%;
      }
    }
  }
}
