@import "../../init";

.btn-container {
  text-align: center;
}

.btn {
  font-size: 0.85rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: center;
  color: var(--white);
  background-color: var(--main);
  border: 2px solid var(--main);
  display: inline-block;
  cursor: pointer;
  max-width: 22rem;
  border-radius: 5px;
  padding: 1em 2em;
  font-weight: 500;

  /* &:hover {
    background-color: var(--orange);
    border: 2px solid var(--orange);
  } */

  &:focus {
    outline: none;
  }

  &--large {
    width: 100%;
  }
}
