@import "../../init";

.btn-container {
  text-align: center;
  margin: 2rem 0;
}

.btn {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.85rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: center;
  color: var(--white);
  background-color: var(--main);
  border: 2px solid var(--main);
  display: inline-block;
  cursor: pointer;
  max-width: 22rem;
  border-radius: 5px;
  padding: 1em 2em;
  font-weight: 500;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &:hover {
    background-color: transparent;
    border: 2px solid var(--main);
    color: var(--main);
  }

  &:focus {
    outline: none;
  }

  &--large {
    width: 100%;
  }
}
