@import '../../init';

.page {
  width: 100vw;
  margin: 0 auto;
}

.gif-container {
  position: relative;
  top: 0;
  height: 500px;

  .gif-first-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
  }

  .gif-animation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }

  &:hover {
    .gif-first-image {
      opacity: 0;
    }

    .gif-animation {
      opacity: 1;
    }
  }
}

@media (--screen-md) {
  .gif-container {
    .gif-first-image {
      opacity: 0;
    }

    .gif-animation {
      opacity: 1;
    }

    &:hover {
      .gif-first-image {
        opacity: 1 !important;
      }

      .gif-animation {
        opacity: 0;
      }
    }
  }
}

@media (--screen-sm) {
  .gif-container {
    height: 200px;
  }
}

#partenaires {
  .media {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 120px;

    &--with-link {
      cursor: pointer;
      position: relative;

      &:hover {
        opacity: 0.6;
      }

      a {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
  }
}

@media (--screen-sm) {
  #partenaires {
    .media {
      height: 50px;
    }
  }
}
